*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ECE8DD;
}
.dashboard{
  text-align: center;
}
.csv-reader-box{
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.csv-reader-box > h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0;
}
.csv-reader-box > .file-input {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px dashed #1B130C;
  border-radius: 12px;
}
.upload-btn{
  border: 2px solid #1B130C;
  color: #1B130C;
  background: none;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
}
.file-input > input{
  display: none;
}
.file-input > h3{
  width: 100%;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.download-btn {
  padding: 20px;
}
.download-btn > button{
  padding: 10px;
  background: #1B130C;
  font-size: 18px;
  color: #ECE8DD;
  cursor: pointer;
}
.download-btn > button:hover{
  background-color: #ECE8DD;
  color: #1B130C;
  border: 2px solid #1B130C;
}